@CHARSET "UTF-8";

body {
	padding-top: 50px;
	margin: 0;
	text-align: center;
}

#container {width 966px;
	margin: 0 auto;
	text-align: left;
	height: 800px;
}

h2 {
	text-align: center;
	margin: 0 auto;
}

th {
	text-align: right;
	margin: 0 auto;
	font-size: 20px;
}