<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>InputServlet</servlet-name>
		<servlet-class>com.github.wing02.vyoscontroller.servlet.InputServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InputServlet</servlet-name>
		<url-pattern>/InputServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ShowZonePolicyServlet</servlet-name>
		<servlet-class>com.github.wing02.vyoscontroller.servlet.ShowZonePolicyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowZonePolicyServlet</servlet-name>
		<url-pattern>/ShowZonePolicyServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CityServlet</servlet-name>
		<servlet-class>com.github.wing02.vyoscontroller.servlet.CityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityServlet</servlet-name>
		<url-pattern>/CityServlet</url-pattern>
	</servlet-mapping>
</web-app>
  
